.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


body {
    background-color: #FDFBEC;   
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.content {
    width: 700px;
    display: inline;
    text-align: center;
}
.error {
    margin: 0 auto;
    visibility:hidden;
    background-color: #C14242;
    width: 400px;
    border: 2px solid #AF3A3A;
    border-radius: .25em;
    margin-bottom: .75em;
}
h1 {
    font-size: 90px;
}

form {
    margin-bottom: .75em;
}

table{
    margin: 0 auto;
    margin-top: .75em;
    border-collapse: collapse;
    background-color: inherit;
}

tr{
    height: 20px;
}

td {
    border: 1px solid black;
    width: 20px;
         
}